body {
    background-color: #6D4C41;
    color: white;
    font-family: Monospace;
}
h1 {
    text-align: center;
}

input, button {
    font-family: inherit;
}

#container {
    width: 80%;
    margin: auto;
}

#container.div, #container.div.p {
   text-align: center; 
}

#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 5px;
    background-color: #777777;
    list-style-type: none; margin: 0; padding: 0;
}



#inputbox {
    margin-top: 10px;
    border: 5px inset white;
    padding: 10px;
    text-align: center;
}
