/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */
body {
   background-image: url("/images/bokeh_car_lights_bg.jpg");
}

body, input, select, textarea {
   font-size: 11pt;
}

textarea {
   background-color: rgbr(255,255,255,0.7);
   width: 60%;
}

